.hn-card, .card{
    border: 0;
}

.hn-content-wrapper{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
}

.hn-submit-button-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hn-input-wrapper{
    display: flex;
}

.hn-input{
    width: 100%;
    border: 1px solid #E6E6E6;
    font-size: 14px;
    padding: 10px 40px 10px 10px;
    border-radius: 5px;
    color: #9baaab;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
}

.hn-input:hover{
    border-color: #ABABAB;
}

.hn-input:focus{
    outline: none !important;
}

.hn-button{
    background-color: #e62e71;
    border-radius: .5rem;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: .9rem;
    text-align: center;
    letter-spacing: .01rem;
    color: #fff;
    width: 100%;
    height: 40px;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    line-height: 1;
    text-decoration: none;
    padding: 0 2.5rem;
    box-sizing: border-box;
    white-space: nowrap;
}

.hn-button:focus{
    background-color: #e62e71;
    border: 0 !important;
}

.btn:focus{
    box-shadow: none;
}

.hn-center-wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}